# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.idea/artifacts/TinyURL_war.xml
.idea/artifacts/TinyURL_war_exploded.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
TinyURL.iml
out/